<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Cake" version="0.32.1" />
    <package id="GitVersion" version="3.6.5" />
    <package id="GitVersion.CommandLine" version="3.6.5" />
    <package id="AutoCake.Maven" version="2.0.0"/> 
    <package id="AutoCake.Release" version="2.0.0"/>
</packages>
